
//<<>-<>>---------------------------------------------------------------------()
/*
	Ressources
									      */
//()-------------------------------------------------------------------<<>-<>>//

#include "_Global.h"


// ¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤ //
// ¤¤¤									  ¤¤¤ //
// ¤¤¤ Icônes 								  ¤¤¤ //
// ¤¤¤									  ¤¤¤ //
// ¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤ //

1  ICON "Icons\\Application.ico"

10 ICON	"Icons\\Homme.ico"
11 ICON "Icons\\Femme.ico"
12 ICON "Icons\\Joueur.ico"
13 ICON "Icons\\Checked.ico"
14 ICON "Icons\\Unchecked.ico"
15 ICON "Icons\\Up.ico"
16 ICON "Icons\\Down.ico"
17 ICON "Icons\\Weapon.ico"
18 ICON "Icons\\Armor.ico"
19 ICON "Icons\\Accessory.ico"
20 ICON "Icons\\InventoryCellController52.ico"
21 ICON "Icons\\Frame.ico"
22 ICON "Icons\\Empty.ico"
23 ICON "Icons\\Edit.ico"
24 ICON "Icons\\Backpack.ico"
25 ICON "Icons\\Back.ico"
26 ICON "Icons\\Modify.ico"
27 ICON "Icons\\Remove.ico"
28 ICON "Icons\\Hidden.ico"
29 ICON "Icons\\Protected.ico"
30 ICON "Icons\\SelectAll.ico"
31 ICON "Icons\\SelectNone.ico"
32 ICON "Icons\\SelectInvert.ico"
33 ICON "Icons\\Profile.ico"
34 ICON "Icons\\Folder.ico"
35 ICON "Icons\\Savegame.ico"

50 ICON "Icons\\Infos\\Empty.ico"
51 ICON "Icons\\Infos\\Savegame.ico"
52 ICON "Icons\\Infos\\Version.ico"
53 ICON "Icons\\Infos\\Difficulty.ico"
54 ICON "Icons\\Infos\\Time.ico"
55 ICON "Icons\\Infos\\Date.ico"
56 ICON "Icons\\Infos\\Character.ico"
57 ICON "Icons\\Infos\\NotCharacter.ico"
58 ICON "Icons\\Infos\\Larian.ico"
59 ICON "Icons\\Infos\\Mod.ico"

80 ICON "Icons\\Portraits\\Ifan.ico"
81 ICON "Icons\\Portraits\\Lohse.ico"
82 ICON "Icons\\Portraits\\RedPrince.ico"
83 ICON "Icons\\Portraits\\Sebille.ico"
84 ICON "Icons\\Portraits\\Fane.ico"
85 ICON "Icons\\Portraits\\Beast.ico"

100 ICON "Icons\\Menus\\Ouvrir.ico"
101 ICON "Icons\\Menus\\Sauver.ico"


// ¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤ //
// ¤¤¤									  ¤¤¤ //
// ¤¤¤ Boîtes de dialogues						  ¤¤¤ //
// ¤¤¤									  ¤¤¤ //
// ¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤ //

//--- Tout synchroniser ---

1001 DIALOGEX 0, 0, 236, 64
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 236,   0

	EDITTEXT		200,	  160,  14,  60,  12, ES_NUMBER
	CONTROL		L"",	201, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   4,  14, 152,  12

	DEFPUSHBUTTON	L"",	IDOK,	   12,  40,  64,  16
	PUSHBUTTON	L"",	IDCANCEL, 160,  40,  64,  16
}

//--- Affecter une valeur ---

1002 DIALOGEX 0, 0, 236, 64
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 236,   0

	EDITTEXT		200,	  160,  14,  60,  12, ES_NUMBER
	CONTROL		L"",	201, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   4,  14, 152,  12

	DEFPUSHBUTTON	L"",	IDOK,	   12,  40,  64,  16
	PUSHBUTTON	L"",	IDCANCEL, 160,  40,  64,  16
}

//--- Modification de valeur: Augmentations ---

1003 DIALOGEX 0, 0, 500, 378
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	GROUPBOX	L"",	230,	    4,   4, 240, 124, WS_GROUP
	LISTBOX			231,	   10,  16, 228,  90, WS_VSCROLL|WS_TABSTOP|LBS_MULTIPLESEL|LBS_EXTENDEDSEL|LBS_NOTIFY|LBS_NOINTEGRALHEIGHT|LBS_OWNERDRAWFIXED
	PUSHBUTTON	L"",	232,	   12, 109,  16,  14, BS_OWNERDRAW
	PUSHBUTTON	L"",	233,	   30, 109,  16,  14, BS_OWNERDRAW
	PUSHBUTTON	L"",	234,	   48, 109,  16,  14, BS_OWNERDRAW

	GROUPBOX	L"",	240,	  250,   4, 246, 124, WS_GROUP
	LISTBOX			241,	  256,  16, 234,  90, WS_VSCROLL|WS_TABSTOP|LBS_MULTIPLESEL|LBS_EXTENDEDSEL|LBS_NOTIFY|LBS_NOINTEGRALHEIGHT|LBS_OWNERDRAWFIXED
	PUSHBUTTON	L"",	242,	  258, 109,  16,  14, BS_OWNERDRAW
	PUSHBUTTON	L"",	243,	  276, 109,  16,  14, BS_OWNERDRAW
	PUSHBUTTON	L"",	244,	  294, 109,  16,  14, BS_OWNERDRAW
	AUTOCHECKBOX	L"",	245,	  320, 109, 170,  14

	CONTROL		L"",	300, L"SysListView32", WS_CHILD|WS_BORDER|WS_VISIBLE|WS_TABSTOP|LVS_REPORT|LVS_SINGLESEL|LVS_SHOWSELALWAYS, 10, 134, 480, 206

	CONTROL 	L"",	777, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16, 360, 300,   0
	DEFPUSHBUTTON	L"",	IDOK,	  354, 352,  64,  16, WS_DISABLED
	PUSHBUTTON	L"",	IDCANCEL, 424, 352,  64,  16
}

//--- Modification de valeur: Runes ---

1004 DIALOGEX 0, 0, 500, 332
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	AUTOCHECKBOX	L"",	100,	    6,   6, 200,  12
	COMBOBOX		200,	  294,   6, 200, 200, WS_TABSTOP|CBS_DROPDOWNLIST|CBS_OWNERDRAWFIXED
	CONTROL		L"",	300, L"SysListView32", WS_CHILD|WS_BORDER|WS_VISIBLE|WS_TABSTOP|LVS_REPORT|LVS_SINGLESEL|LVS_SHOWSELALWAYS, 4, 24, 492, 272

	CONTROL 	L"",	777, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   8, 314, 300,   0
	DEFPUSHBUTTON	L"",	IDOK,	  354, 306,  64,  16, WS_DISABLED
	PUSHBUTTON	L"",	IDCANCEL, 424, 306,  64,  16
}

//--- Modification de valeur: Mots-clés ---

1005 DIALOGEX 0, 0, 400, 306
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL		L"",	300, L"LISTBOX", WS_CHILD|WS_BORDER|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|LBS_NOTIFY|LBS_NOINTEGRALHEIGHT|LBS_OWNERDRAWVARIABLE, 4,  4, 392, 268

	DEFPUSHBUTTON	L"",	IDOK,	  254, 282,  64,  16, WS_DISABLED
	PUSHBUTTON	L"",	IDCANCEL, 324, 282,  64,  16
}

//--- Liste des mots-clés du personnage ---

1006 DIALOGEX 0, 0, 420, 322
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CHECKBOX	L"",	110,	    8,   4, 404,  12

	CONTROL		L"",	300, L"LISTBOX", WS_CHILD|WS_BORDER|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|LBS_DISABLENOSCROLL|LBS_NOTIFY|LBS_NOINTEGRALHEIGHT|LBS_OWNERDRAWVARIABLE, 4, 20, 412, 268

	PUSHBUTTON	L"",	400,       12, 298,  64,  16
	PUSHBUTTON	L"",	401,       80, 298,  64,  16, WS_DISABLED
	PUSHBUTTON	L"",	402,      148, 298,  64,  16, WS_DISABLED
	PUSHBUTTON	L"",	403,      216, 298,  20,  16, WS_DISABLED|BS_OWNERDRAW
	PUSHBUTTON	L"",	404,      236, 298,  20,  16, WS_DISABLED|BS_OWNERDRAW

	DEFPUSHBUTTON	L"",	IDOK,	  274, 298,  64,  16
	PUSHBUTTON	L"",	IDCANCEL, 344, 298,  64,  16
}

//--- Capacités ---

1007 DIALOGEX 0, 0, 380, 354
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	//--- WEAPONS
	CONTROL		L"",	200, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10,   4, 170,  12

	CONTROL		L"",	210, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10,  20, 136,  12
	EDITTEXT		211,	  150,  20,  20,  12, ES_NUMBER
	CONTROL		L"",	212, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170,  20,  12,  12

	CONTROL		L"",	220, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10,  36, 136,  12
	EDITTEXT		221,	  150,  36,  20,  12, ES_NUMBER
	CONTROL		L"",	222, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170,  36,  12,  12

	CONTROL		L"",	230, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10,  52, 136,  12
	EDITTEXT		231,	  150,  52,  20,  12, ES_NUMBER
	CONTROL		L"",	232, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170,  52,  12,  12

	CONTROL		L"",	240, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10,  68, 136,  12
	EDITTEXT		241,	  150,  68,  20,  12, ES_NUMBER
	CONTROL		L"",	242, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170,  68,  12,  12

	//--- DEFENSE
	CONTROL		L"",	300, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10,  94, 170,  12

	CONTROL		L"",	310, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 110, 136,  12
	EDITTEXT		311,	  150, 110,  20,  12, ES_NUMBER
	CONTROL		L"",	312, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 110,  12,  12

	CONTROL		L"",	320, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 126, 136,  12
	EDITTEXT		321,	  150, 126,  20,  12, ES_NUMBER
	CONTROL		L"",	322, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 126,  12,  12

	CONTROL		L"",	330, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 142, 136,  12
	EDITTEXT		331,	  150, 142,  20,  12, ES_NUMBER
	CONTROL		L"",	332, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 142,  12,  12

	//--- ABILITIES
	CONTROL		L"",	400, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 168, 170,  12

	CONTROL		L"",	410, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 184, 136,  12
	EDITTEXT		411,	  150, 184,  20,  12, ES_NUMBER
	CONTROL		L"",	412, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 184,  12,  12

	CONTROL		L"",	420, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 200, 136,  12
	EDITTEXT		421,	  150, 200,  20,  12, ES_NUMBER
	CONTROL		L"",	422, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 200,  12,  12

	CONTROL		L"",	430, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 216, 136,  12
	EDITTEXT		431,	  150, 216,  20,  12, ES_NUMBER
	CONTROL		L"",	432, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 216,  12,  12

	CONTROL		L"",	440, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 232, 136,  12
	EDITTEXT		441,	  150, 232,  20,  12, ES_NUMBER
	CONTROL		L"",	442, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 232,  12,  12

	CONTROL		L"",	450, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 248, 136,  12
	EDITTEXT		451,	  150, 248,  20,  12, ES_NUMBER
	CONTROL		L"",	452, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 248,  12,  12

	CONTROL		L"",	460, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 264, 136,  12
	EDITTEXT		461,	  150, 264,  20,  12, ES_NUMBER
	CONTROL		L"",	462, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 264,  12,  12

	CONTROL		L"",	470, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 280, 136,  12
	EDITTEXT		471,	  150, 280,  20,  12, ES_NUMBER
	CONTROL		L"",	472, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 280,  12,  12

	CONTROL		L"",	480, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 296, 136,  12
	EDITTEXT		481,	  150, 296,  20,  12, ES_NUMBER
	CONTROL		L"",	482, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 296,  12,  12

	CONTROL		L"",	490, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 312, 136,  12
	EDITTEXT		491,	  150, 312,  20,  12, ES_NUMBER
	CONTROL		L"",	492, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 312,  12,  12

	CONTROL		L"",	500, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  10, 328, 136,  12
	EDITTEXT		501,	  150, 328,  20,  12, ES_NUMBER
	CONTROL		L"",	502, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 170, 328,  12,  12

	//--- PERSONNALITY
	CONTROL		L"",	600, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 200,   4, 170,  12

	CONTROL		L"",	610, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 200,  20, 136,  12
	EDITTEXT		611,	  340,  20,  20,  12, ES_NUMBER
	CONTROL		L"",	612, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 360,  20,  12,  12

	CONTROL		L"",	620, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 200,  36, 136,  12
	EDITTEXT		621,	  340,  36,  20,  12, ES_NUMBER
	CONTROL		L"",	622, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 360,  36,  12,  12

	CONTROL		L"",	630, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 200,  52, 136,  12
	EDITTEXT		631,	  340,  52,  20,  12, ES_NUMBER
	CONTROL		L"",	632, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 360,  52,  12,  12

	//--- HABILITY
	CONTROL		L"",	700, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 200,  78, 170,  12

	CONTROL		L"",	710, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 200,  94, 136,  12
	EDITTEXT		711,	  340,  94,  20,  12, ES_NUMBER
	CONTROL		L"",	712, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 360,  94,  12,  12

	CONTROL		L"",	720, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 200, 110, 136,  12
	EDITTEXT		721,	  340, 110,  20,  12, ES_NUMBER
	CONTROL		L"",	722, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 360, 110,  12,  12

	//--- MISDEED
	CONTROL		L"",	800, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 200, 134, 170,  12

	CONTROL		L"",	810, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 200, 150, 136,  12
	EDITTEXT		811,	  340, 150,  20,  12, ES_NUMBER
	CONTROL		L"",	812, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 360, 150,  12,  12

	CONTROL		L"",	820, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 200, 166, 136,  12
	EDITTEXT		821,	  340, 166,  20,  12, ES_NUMBER
	CONTROL		L"",	822, UPDOWN_CLASS, WS_CHILD|WS_VISIBLE|UDS_NOTHOUSANDS|UDS_ARROWKEYS|UDS_AUTOBUDDY|UDS_SETBUDDYINT, 360, 166,  12,  12

	DEFPUSHBUTTON	L"",	IDOK,	  226, 328,  64,  16
	PUSHBUTTON	L"",	IDCANCEL, 296, 328,  64,  16
}

//--- Journal ---

1008 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	LISTBOX			200,	    0,   0, 400, 272, WS_VSCROLL|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_OWNERDRAWFIXED
	DEFPUSHBUTTON	L"",	IDOK,     328, 278,  64,  16
}

//--- Talents ---

1009 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0
	CONTROL		L"",	200, L"SysListView32", WS_CHILD|WS_BORDER|WS_VISIBLE|WS_TABSTOP|LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|LVS_SHOWSELALWAYS, 4, 4, 392, 264
	DEFPUSHBUTTON	L"",	IDOK,	  254, 276,  64,  16
	PUSHBUTTON	L"",	IDCANCEL, 324, 276,  64,  16
}

//--- Informations ---

1010 DIALOGEX 0, 0, 298, 372
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	800, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   4,   4, 290, 120
	CONTROL		L"",	801, L"SysListView32", WS_CHILD|WS_BORDER|WS_VISIBLE|WS_TABSTOP|LVS_ICON|LVS_SINGLESEL,   4, 128, 290, 240
}

//--- Langue ---

1100 DIALOGEX 0, 0, 236, 188
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	LISTBOX		200,	    4,   4, 228, 156, WS_VSCROLL|LBS_NOINTEGRALHEIGHT|LBS_OWNERDRAWVARIABLE
	DEFPUSHBUTTON	L"",	IDOK,	   12, 166,  64,  16, WS_DISABLED
	PUSHBUTTON	L"",	IDCANCEL, 160, 166,  64,  16
}

//--- Mods ---

1200 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0
	CONTROL		L"",	200, L"SysListView32", WS_CHILD|WS_BORDER|WS_VISIBLE|WS_TABSTOP|LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|LVS_SHOWSELALWAYS, 4, 4, 392, 264
	DEFPUSHBUTTON	L"",	IDOK,	  254, 276,  64,  16
	PUSHBUTTON	L"",	IDCANCEL, 324, 276,  64,  16
}


// «»»» Modification des objets «««««««««««««««««««««««««««««««««««««««««»

//--- Page: Nom ---

6000 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0

	EDITTEXT		200,	  10,  10,  380,  12
	EDITTEXT		201,	  10,  30,  380, 260, WS_HSCROLL|WS_VSCROLL|ES_MULTILINE|ES_WANTRETURN
}

//--- Page: Quantitié ---

6001 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0

	EDITTEXT		200,	  320,  16,  60,  12, ES_NUMBER
	CONTROL		L"",	201, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 154,  16, 160,  12
}

//--- Page: Boosters ---

6002 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0
	CONTROL 	L"",	101, L"STATIC", WS_CHILD|SS_OWNERDRAW,   0,   4, 400,   0

	LISTBOX			200,	    0,   4, 400, 272, WS_VSCROLL|WS_TABSTOP|WS_DISABLED|LBS_NOINTEGRALHEIGHT|LBS_OWNERDRAWFIXED
	PUSHBUTTON	L"",	201,        4, 280,  80,  16, WS_DISABLED
	PUSHBUTTON	L"",	202,       88, 280,  80,  16, WS_DISABLED
	PUSHBUTTON	L"",	203,      172, 280,  80,  16, WS_DISABLED
}

//--- Page: Bonus ---

6003 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0
	CONTROL 	L"",	101, L"STATIC", WS_CHILD|SS_OWNERDRAW,   0,   4, 400,   0

	LISTBOX			200,	    0,   4, 400, 272, WS_VSCROLL|WS_TABSTOP|WS_DISABLED|LBS_NOINTEGRALHEIGHT|LBS_OWNERDRAWFIXED
	PUSHBUTTON	L"",	201,        4, 280,  80,  16, WS_DISABLED
	PUSHBUTTON	L"",	202,       88, 280,  80,  16, WS_DISABLED
	PUSHBUTTON	L"",	203,      172, 280,  80,  16, WS_DISABLED
}

//--- Page: Runes ---

6004 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0

	CONTROL		L"",	200, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16,  16, 284,  18
	PUSHBUTTON	L"",	202,	  304,  16,   40,  18, WS_DISABLED|BS_OWNERDRAW
	PUSHBUTTON	L"",	203,	  344,  16,   40,  18, WS_DISABLED|BS_OWNERDRAW
	CONTROL		L"",	204, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16,  36, 284,  12
	CONTROL		L"",	205, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16,  48, 284,  12
	CONTROL		L"",	206, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16,  60, 284,  12

	CONTROL		L"",	210, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16,  78, 284,  18
	PUSHBUTTON	L"",	212,	  304,  78,   40,  18, WS_DISABLED|BS_OWNERDRAW
	PUSHBUTTON	L"",	213,	  344,  78,   40,  18, WS_DISABLED|BS_OWNERDRAW
	CONTROL		L"",	214, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16,  98, 284,  12
	CONTROL		L"",	215, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16, 110, 284,  12
	CONTROL		L"",	216, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16, 122, 284,  12

	CONTROL		L"",	220, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16, 140, 284,  18
	PUSHBUTTON	L"",	222,	  304, 140,   40,  18, WS_DISABLED|BS_OWNERDRAW
	PUSHBUTTON	L"",	223,	  344, 140,   40,  18, WS_DISABLED|BS_OWNERDRAW
	CONTROL		L"",	224, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16, 160, 284,  12
	CONTROL		L"",	225, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16, 172, 284,  12
	CONTROL		L"",	226, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,  16, 184, 284,  12
}

//--- Page: Synchronisation ---

6005 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0

	EDITTEXT		200,	  320,  16,  60,  12, WS_DISABLED|ES_NUMBER|ES_READONLY
	CONTROL		L"",	201, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 154,  16, 160,  12
	EDITTEXT		202,	  320,  36,  60,  12, ES_NUMBER
	CONTROL		L"",	203, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 154,  36, 160,  12

	AUTOCHECKBOX	L"",	204,	   78,  60, 300,  12, WS_TABSTOP|BS_RIGHT|BS_RIGHTBUTTON|BS_VCENTER
	AUTOCHECKBOX	L"",	205,	   78,  80, 300,  12, WS_TABSTOP|BS_RIGHT|BS_RIGHTBUTTON|BS_VCENTER
}


// «»»» Modification des bonus ««««««««««««««««««««««««««««««««««««««««««»

//--- [Bonus] Page: Cible ---

7000 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0
	CONTROL 	L"",	108, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,  12
	CONTROL 	L"",	777, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   8,  28, 300,   0
	CONTROL 	L"",	208, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,  44, 400,  12
	AUTORADIOBUTTON	L"",	200,	   18,  60, 200, 12
	AUTORADIOBUTTON	L"",	201,	   18,  80, 200, 12
	AUTORADIOBUTTON	L"",	202,	   18, 100, 200, 12
}

//--- [Bonus] Page: Liste ---

7001 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0
	LISTBOX			200,	    0,   4, 400, 296, WS_VSCROLL|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_OWNERDRAWFIXED
}

//--- [Bonus] Page: Valeur ---

7002 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0

	EDITTEXT		200,	  320,  16,  60,  12
	CONTROL		L"",	201, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 154,  16, 160,  12
	// 202 reserved for UPDOWN

	CONTROL 	L"",	900, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0, 268, 400,  12
	CONTROL 	L"",	901, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0, 280, 400,  18

}

//--- [Bonus] Page: Type de dégâts ---

7003 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0

	AUTORADIOBUTTON	L"",	211,	  170,  60, 200, 12, BS_RIGHT|BS_RIGHTBUTTON
	AUTORADIOBUTTON	L"",	212,	  170,  80, 200, 12, BS_RIGHT|BS_RIGHTBUTTON
	AUTORADIOBUTTON	L"",	216,	  170, 100, 200, 12, BS_RIGHT|BS_RIGHTBUTTON
	AUTORADIOBUTTON	L"",	217,	  170, 120, 200, 12, BS_RIGHT|BS_RIGHTBUTTON
	AUTORADIOBUTTON	L"",	218,	  170, 140, 200, 12, BS_RIGHT|BS_RIGHTBUTTON
	AUTORADIOBUTTON	L"",	219,	  170, 160, 200, 12, BS_RIGHT|BS_RIGHTBUTTON
	AUTORADIOBUTTON	L"",	220,	  170, 180, 200, 12, BS_RIGHT|BS_RIGHTBUTTON

	CONTROL 	L"",	900, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0, 268, 400,  12
	CONTROL 	L"",	901, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0, 280, 400,  18
}

//--- [Bonus] Page: Renvoi de dégâts ---

7004 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0
	EDITTEXT		200,	  320,  16,  60,  12
	CONTROL		L"",	201, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 154,  16, 160,  12
	// 202 reserved for UPDOWN

	CONTROL 	L"",	208, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,  40, 400,  12

	AUTORADIOBUTTON	L"",	211,	  170,  60, 200, 12, BS_RIGHT|BS_RIGHTBUTTON
	AUTORADIOBUTTON	L"",	212,	  170,  80, 200, 12, BS_RIGHT|BS_RIGHTBUTTON
	AUTORADIOBUTTON	L"",	216,	  170, 100, 200, 12, BS_RIGHT|BS_RIGHTBUTTON
	AUTORADIOBUTTON	L"",	217,	  170, 120, 200, 12, BS_RIGHT|BS_RIGHTBUTTON
	AUTORADIOBUTTON	L"",	218,	  170, 140, 200, 12, BS_RIGHT|BS_RIGHTBUTTON
	AUTORADIOBUTTON	L"",	219,	  170, 160, 200, 12, BS_RIGHT|BS_RIGHTBUTTON
	AUTORADIOBUTTON	L"",	220,	  170, 180, 200, 12, BS_RIGHT|BS_RIGHTBUTTON

	CONTROL 	L"",	900, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0, 268, 400,  12
	CONTROL 	L"",	901, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0, 280, 400,  18
}

//--- [Bonus] Page: Compétences ---

7005 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0

	AUTOCHECKBOX	L"",	180,	    6,   6, 100,  12
	COMBOBOX		190,	  194,   6, 200, 200, WS_TABSTOP|CBS_DROPDOWNLIST|CBS_OWNERDRAWFIXED

	CONTROL		L"",	200, L"SysListView32", WS_CHILD|WS_BORDER|WS_VISIBLE|WS_TABSTOP|LVS_ICON|LVS_SHOWSELALWAYS|LVS_SINGLESEL,   0,  24, 400, 276
}

//--- [Bonus] Page: Couleurs ---

7006 DIALOGEX 0, 0, 400, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 400,   0
	CONTROL		L"",	200, L"SysListView32", WS_CHILD|WS_BORDER|WS_VISIBLE|WS_TABSTOP|LVS_ICON|LVS_SHOWSELALWAYS|LVS_SINGLESEL,   0,  4, 400, 296
}


// «»»» Sélection d'une sauvegarde ««««««««««««««««««««««««««««««««««««««»

//--- [SaveGame] Page: Profil ---

8000 DIALOGEX 0, 0, 650, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 350,   0
	COMBOBOX		190,	    0,   4, 200, 200, WS_TABSTOP|CBS_DROPDOWNLIST|CBS_OWNERDRAWFIXED
	LISTBOX			200,	    0,  22, 350, 278, WS_VSCROLL|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_OWNERDRAWFIXED
	CONTROL 	L"",	300, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 350,   0,  10, 300
	CONTROL 	L"",	301, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 360,   0, 290, 300
}

//--- [SaveGame] Page: Liste ---

8001 DIALOGEX 0, 0, 650, 300
STYLE DS_MODALFRAME|WS_BORDER|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
CLASS L"GlEdDialog32"
FONT 8, L"MS Shell Dlg"
{
	CONTROL 	L"",	100, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW,   0,   0, 350,   0
	LISTBOX			200,	    0,   4, 350, 296, WS_VSCROLL|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_OWNERDRAWFIXED
	CONTROL 	L"",	300, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 350,   0,  10, 300

	CONTROL 	L"",	800, L"STATIC", WS_CHILD|WS_VISIBLE|SS_OWNERDRAW, 360,   0, 290, 120
	CONTROL		L"",	801, L"SysListView32", WS_CHILD|WS_BORDER|WS_VISIBLE|WS_TABSTOP|LVS_ICON|LVS_SINGLESEL, 360, 124, 290, 176
}


// ¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤ //
// ¤¤¤									  ¤¤¤ //
// ¤¤¤ Informations							  ¤¤¤ //
// ¤¤¤									  ¤¤¤ //
// ¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤ //

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Application.manifest"

VS_VERSION_INFO VERSIONINFO

	FILEVERSION	1,0,0,0
	PRODUCTVERSION	1,0,0,0
	FILEFLAGSMASK	VS_FF_DEBUG|VS_FF_PRERELEASE
	#if _DEBUG
	FILEFLAGS	VS_FF_DEBUG|VS_FF_PRERELEASE
	#else
	FILEFLAGS	0
	#endif
	FILEOS		VOS__WINDOWS32
	FILETYPE	VFT_APP
{
	BLOCK "StringFileInfo"
		{
		BLOCK "00000000"
			{
			VALUE "OriginalFilename", "GlEd.exe\0"
			VALUE "FileVersion", "1.0.0.0\0"
			VALUE "ProductName", "GlEd\0"
			VALUE "ProductVersion", "1.0.0.0\0"
			VALUE "FileDescription", "GlEd\0"
			VALUE "LegalCopyright", "Nov'\0"
			}
		}
	BLOCK "VarFileInfo"
		{
		VALUE "Translation", 0, 0
		}
}
